<h1>Input</h1>

<div class="example-markdown">
  &lt;hec-input [formControl]="formGroup.controls['nameControl']"&gt;&lt;/hec-input&gt;
</div>

<h4 class="mt-4">Default:</h4>

<section>
  <div class="laboratory-sample">
    <form [formGroup]="formGroup">
      <div>
        <hec-input
          [formControl]="formGroup.controls['nameControl']"
        ></hec-input>
      </div>
    </form>
    <form [formGroup]="formGroup">
      <div>
        <hec-input
          [variant]="'standard'"
          [formControl]="formGroup.controls['nameControl']"
        ></hec-input>
      </div>
    </form>
  </div>
</section>

<h4 class="mt-4">With label and placeholder:</h4>

<section>
  <div class="laboratory-sample">
    <form [formGroup]="formGroup">
      <div>
        <hec-input
          [label]="'Name'"
          [placeholder]="'Type your name'"
          [formControl]="formGroup.controls['nameControl']"
        ></hec-input>
      </div>
    </form>
    <form [formGroup]="formGroup">
      <div>
        <hec-input
          [variant]="'standard'"
          [label]="'Name'"
          [placeholder]="'Type your name'"
          [formControl]="formGroup.controls['nameControl']"
        ></hec-input>
      </div>
    </form>
  </div>
</section>
