.variation {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.example {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 12px;
  color: #FFF;
  margin: 8px 12px 0;
  margin-bottom: 25px;
  border-radius: 3px;
}
