<div class="container">
  <h1 class="header-title">Welcome to Shelf Control</h1>
  <p class="lead">A Laboratory Built with Angular 19 and Angular Material</p>
</div>

<div class="container py-5">
  <!-- Key Features Section -->
  <div class="col-lg-10">
    <h2 class="mb-4">Key Features:</h2>
    <ul class="list-unstyled feature-list">
      <li>
        <strong>Angular 19 & Angular Material</strong>: Built using the latest
        <strong>Angular 19</strong> framework and powered by
        <strong>Angular Material</strong>, this Laboratory offers a modern,
        polished UI experience.
      </li>
      <li>
        <strong>Responsive Design</strong>: The Laboratory is fully responsive,
        ensuring that UI components adapt seamlessly across all devices, screen
        sizes, and orientations.
      </li>
      <li>
        <strong>Form Control</strong>: Discover a variety of pre-configured,
        customizable form controls like inputs, selects, checkboxes, radio
        buttons, and more, designed to work in both simple and complex
        scenarios.
      </li>
      <li>
        <strong>Error Messaging</strong>: Built-in error handling and validation
        provide real-time feedback, helping users correct their input.
        Customizable error messages are ready for integration.
      </li>
      <li>
        <strong>Unit Tested</strong>: All components are thoroughly covered with
        <strong>unit tests</strong> to ensure their stability and reliability in
        production environments.
      </li>
    </ul>
  </div>

  <!-- Why Use Section -->
  <div class="col-lg-10 mt-5">
    <h2 class="mb-4">Why Use the Control Laboratory?</h2>
    <ul class="list-unstyled feature-list">
      <li>
        <strong>Speed up Development</strong>: Save time with pre-built Angular
        Material components and focus more on core features and business logic.
      </li>
      <li>
        <strong>Enhanced User Experience</strong>: With form validation,
        responsive layouts, and error messaging, ensure a user-friendly
        experience.
      </li>
      <li>
        <strong>Quality Assurance</strong>: The included unit tests ensure the
        components work flawlessly in all scenarios, giving you confidence in
        their reliability.
      </li>
    </ul>
  </div>
</div>

<div class="text-center">
  <div class="container">
    <p>
      Develop by <strong>Hector Alvarez</strong>, enjoy your Angular app
      development!
    </p>
  </div>
</div>
