.lab {
  background: #FFF;
  padding: 32px 0;

  .nav-bar {
    border-right: 1px solid #b2b6b8;
  }

  &__menu,
  &__outlet {
    background: #FFF;
    border-radius: 6px;
    min-height: 20rem;
  }

  &__menu {
    text-align: center;

    > div {
      cursor: pointer;
      width: 100%;
      padding: 15px 20px;

      &:hover:not(.active) {
        background-color: var(--primary-hover-color);
        color: #000;
      }
    }

    .active {
      background-color: #036d99;
      color: #FFF;
    }
  }
}
