<h1>Chip</h1>

<h4 class="mt-4">Colors:</h4>
<p>
  Defines the color of the chip using the <strong>color</strong> input with
  options: 'primary' | 'secondary' | 'success' | 'error'. Default value:
  <strong>'primary'.</strong>
</p>

<div class="example-markdown">
  &lt;hec-chip color="secondary"&gt;Click Me!&lt;/hec-chip&gt;
</div>

<section>
  <div class="laboratory-sample">
    <div><hec-chip color="primary">Primary</hec-chip></div>
    <div><hec-chip color="secondary">Secondary</hec-chip></div>
    <div><hec-chip color="success">Success</hec-chip></div>
    <div><hec-chip color="error">Error</hec-chip></div>
  </div>
</section>

<h4 class="mt-4">Variant:</h4>
<p>
  Use the <strong>variant</strong> input with options: 'filled' | 'outlined'.
  Default value:
  <strong>'filled'.</strong>
</p>

<div class="example-markdown">
  &lt;hec-chip variant="outline"&gt;Outlined&lt;/hec-chip&gt;
</div>

<section>
  <div class="laboratory-sample">
    <div><hec-chip>Filled</hec-chip></div>
    <div><hec-chip variant="outlined">Outlined</hec-chip></div>
    <div><hec-chip color="success">Filled</hec-chip></div>
    <div><hec-chip color="success" variant="outlined">Outlined</hec-chip></div>
  </div>
</section>

<h4 class="mt-4">Size:</h4>
<p>
  Use the <strong>size</strong> input with options: 'small' | 'medium'.
  Default value:
  <strong>'medium'.</strong>
</p>

<div class="example-markdown">
  &lt;hec-chip variant="outline"&gt;Content&lt;/hec-chip&gt;
</div>

<section>
  <div class="laboratory-sample">
    <div><hec-chip size="small">Small</hec-chip></div>
    <div><hec-chip size="medium">Medium</hec-chip></div>
  </div>
</section>
